<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto add</title>
</head>
<body>
<form action="{{ url_for('auto_page_gen') }}" method="post">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {{ form.hidden_tag() }}
    <p>
        {{ form.brand_select.label }}
        {{ form.brand_select(**{"onchange":"models_for_brand()"}) }}
    </p>
    <p>
        {{ form.model_select.label }}
        {{ form.model_select }}
    </p>
    <p>
        {{ form.number.label }}
        {{ form.number }}
    </p>
    <p>
        {{ form.mileage.label }}
        {{ form.mileage }}
    </p>
    <p>
        {{ form.quality.label }}
        {{ form.quality }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var csrftoken =  "{{csrf_token()}}"

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
    function models_for_brand() {
        var id = $("#{{ form.brand_select.id }}").val();
        $.post('{{ url_for('get_models_for_brand') }}', {
            brand_id: id
        }).done(function (response) {
            let $select = $("#{{ form.model_select.id }}");
            $select.find('option').remove();
            if (Object.keys(response).length === 0){
                $("#{{ form.submit.id }}").attr("disabled", true)
                return;
            }
            $("#{{ form.submit.id }}").attr("disabled", false)
            $.each(response, function (key, value) {
                $select.append('<option value=' + key + '>' + value + '</option>');
            });
        })
    }
    models_for_brand();
</script>
</body>
</html>