<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autos</title>
</head>
<body>
<table>
    <tr>
        <th>Number of auto</th>
        <th>Receipt date</th>
        <th>Office name</th>
        <th>Office address</th>
    </tr>
    {% for auto in autos %}
        <tr>
            <td>{{ auto.registration_number }}</td>
            <td>{{ auto.receipt_date }}</td>
            <td>{{ auto.office_name }}</td>
            <td>{{ auto.office_address }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>