<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autos</title>
</head>
<body>
<table>
    <tr>
        <th>Model name</th>
        <th>Brand name</th>
        <th>Number</th>
        <th>Mileage</th>
        <th>Quality(from 0 to 50)</th>
    </tr>
    {% for auto in autos %}
        <tr>
            <td>{{ auto.model_name }}</td>
            <td>{{ auto.brand_name }}</td>
            <td>{{ auto.registration_number }}</td>
            <td>{{ auto.mileage }}</td>
            <td>{{ auto.quality }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>