<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('model_edit_submit') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.brand_select.label }}
        {{ form.brand_select(**{"onchange":"models_for_brand()"}) }}
    </p>
    <p>
        {{ form.model_select.label }}
        {{ form.model_select(**{"onchange":"select_model()"}) }}
    </p>
    <p>
        {{ form.model_name.label }}
        {{ form.model_name }}
    </p>
    <p>
        {{ form.model_brand.label }}
        {{ form.model_brand }}
    </p>
    <p>
        {{ form.model_price.label }}
        {{ form.model_price }}
    </p>
    <p>
        {{ form.delete_submit() }}
        {{ form.update_submit() }}
    </p>
</form>
<table>
    <tr>
        <th>Model name</th>
        <th>Brand name</th>
        <th>Price</th>
    </tr>
    {% for model in models %}
        <tr>
            <td>{{  model.model_name}}</td>
            <td>{{ model.brand_name }}</td>
            <td>{{ model.price }}</td>
        </tr>
    {% endfor %}
</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var csrftoken =  "{{csrf_token()}}"

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
    function models_for_brand() {
        var id = $("#{{ form.brand_select.id }}").val();
        $.post('{{ url_for('get_models_for_brand') }}', {
            brand_id: id
        }).done(function (response) {
            let $select = $("#{{ form.model_select.id }}");
            $select.find('option').remove();
            $.each(response, function (key, value) {
                $select.append('<option value=' + key + '>' + value + '</option>');
            });
            let key = Object.keys(response)[0]
            select_model(key)
        })
    }
    function select_model(m_id = -1){
        var id = $("#{{ form.model_select.id }}").val()

        if (m_id !== -1){
            id = m_id
        }
        $.post('{{ url_for('get_model_data') }}',{
            model_id: id
        }).done(function (response) {
            let $model_name = $("#{{ form.model_name.id }}")
            let $model_brand = $("#{{ form.model_brand.id }}")
            let $price = $("#{{ form.model_price.id }}")
            $model_name.val(response["model_name"])
            $model_brand.val(response["model_brand"])
            $price.val(response["model_price"])
        })
    }
    models_for_brand();
</script>
</body>
</html>