<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Edit</title>
</head>
<body>
<form action="{{ url_for('model_action') }}" name="model_edit_form" method="post">
    {{ model_form.hidden_tag() }}
    {% if model_form.errors %}
        <p>
        {{ model_form.errors }}
        </p>

    {% endif %}
    <p>
        {{ model_form.model_name.label }}
        {{ model_form.model_name }}
    </p>
    <p>
        {{ model_form.brand_name.label }}
        {{ model_form.brand_name() }}
    </p>
    <p>
        {{ model_form.models.label }}
        {{ model_form.models() }}
    </p>
    <p>
        {{ model_form.model_submit }}
        {{ model_form.view_models }}
    </p>
</form>

<form action="{{ url_for('brand_action') }}" name="brand_edit_form" method="POST">
    {{ brand_form.hidden_tag() }}

    {% if brand_form.error_string != "" %}
        <p>
            Error
            {{ brand_form.error_string }}
        </p>
    {% endif %}
    <p>
        {{ brand_form.new_brand_name.label }}
        {{ brand_form.new_brand_name(size=20) }}
    </p>
    <p>
        {{ brand_form.brand_submit }}
    </p>
</form>

</body>
</html>