<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Hello, there</title>
  </head>
  <body>
  <a href="{{ url_for('model_edit') }}">Model add</a>
  <a href="{{ url_for('model_add_page_gen') }}">Model editing</a>
  <a href="{{ url_for('client_page_gen') }}">Client registration</a>
  <a href="{{ url_for('view_models') }}">Check all models</a>
  <a href="{{ url_for('view_autos') }}">Check all autos</a>
  <a href="{{ url_for('auto_page_gen') }}">Add autos</a>
  <a href="{{ url_for('gen_auto_edit') }}">Edit autos</a>
  </body>
</html>